# MongoDB - Tutorial


## Introduction

MongoDB is a NoSQL database, which has a core API in JavaScript, and a series of other APIs in different languages.  The one we are going to use is the Python API, [PyMongo](https://api.mongodb.com/python/current/).  MongoDB instance on your VM is already started by default.

The MongoDB instance in your VM comes pre-configured with a user 'tutorial' (password: 'tutorial') that has database administration privileges on a pre-created 'tutorial' database that we will use in this tutorial.

PyMongo is a package that contains tools to work with MongoDB from Python. We have installed it in the VM provided to you.

This imports the `MongoClient` class from the pymongo module, which we will use to deal with all our connections from.  We're connecting to our localhost, which is listening on port 27017. There are more options, the documentation for the formatting of the connection string is at https://docs.mongodb.com/manual/reference/connection-string/.
substitute xxx for the password you set in the previous step.

In [1]:
from pymongo import MongoClient
client = MongoClient('mongodb://tutorial:tutorial@localhost:27017',authSource='tutorial')

Next, we are going to create a database object `db`, which is a property of the `client` object.  MongoDB is schemaless, and so accessing a database like this will create the database if it does not already exist.

A database can be accessed by using "dot" notation (i.e., `client.dbname`), or dictionary notation (i.e., `client['dbname']`).  This also applies to making collections

Create a connection object to the `tutorial` database in a variable called `db`.  Using that variable, create a collection called `test_collection` with a variable called `collection` as follows.  Run the code in the following cell (there should not be any output)

In [2]:
# Create database and collection objects for convenience
db = client.tutorial
collection = db.test_collection

# Using MongoDB

## Inserting data

MongoDB data is stored as BSON (binary JSON), which is essentially JSON with some additional features, so the way to insert data is as a JSON object.  For Python, you can use a `dict` or a `list` for this, and then call either `insert_one` or `insert_many` on the collection.

In [3]:
# Create an object and insert into the `test_collection`
single_obj = {'name': 'Amber', 'star_sign': 'Capricorn', 'favourite_song': 'The Load-Out'}
collection.insert_one(single_obj)
single_obj_2 = {'name': 'Huw', 'star_sign': 'Libra', 'favourite_song': 'The masses against the classes'}
collection.insert_one(single_obj_2)
single_obj_3 = {'name': 'Robert', 'star_sign': 'Leo', 'favourite_song': 'Bad day'}
collection.insert_one(single_obj_3)

We will look at querying data in more detail below, but for now, to see whether the object got successfully inserted into the collection, run the code below.  This will always return the first instance which matches the query.  You will notice that even though we didn't specify `_id` one got added already.  This is a unique identifier for the document in the collection

In [4]:
collection.find_one() # returns a single document matching the query condition

{'_id': ObjectId('61aa39b22317d1148b061b15'),
 'name': 'Amber',
 'star_sign': 'Capricorn',
 'favourite_song': 'Bad Guy'}

In [27]:
results = collection.find({})
for x in results:
    print(x)

{'_id': ObjectId('61b822ba72b3ff1fc97923d3'), 'address': {'building': '469', 'coord': [-73.961704, 40.662942], 'street': 'Flatbush Avenue', 'zipcode': '11225'}, 'borough': 'Brooklyn', 'cuisine': 'Hamburgers', 'grades': [{'date': datetime.datetime(2014, 12, 30, 0, 0), 'grade': 'A', 'score': 8}, {'date': datetime.datetime(2014, 7, 1, 0, 0), 'grade': 'B', 'score': 23}, {'date': datetime.datetime(2013, 4, 30, 0, 0), 'grade': 'A', 'score': 12}, {'date': datetime.datetime(2012, 5, 8, 0, 0), 'grade': 'A', 'score': 12}], 'name': "Wendy'S", 'restaurant_id': '30112340'}
{'_id': ObjectId('61b822ba72b3ff1fc97923d4'), 'address': {'building': '351', 'coord': [-73.98513559999999, 40.7676919], 'street': 'West   57 Street', 'zipcode': '10019'}, 'borough': 'Manhattan', 'cuisine': 'Irish', 'grades': [{'date': datetime.datetime(2014, 9, 6, 0, 0), 'grade': 'A', 'score': 2}, {'date': datetime.datetime(2013, 7, 22, 0, 0), 'grade': 'A', 'score': 11}, {'date': datetime.datetime(2012, 7, 31, 0, 0), 'grade': 'A', 'score': 12}, {'date': datetime.datetime(2011, 12, 29, 0, 0), 'grade': 'A', 'score': 12}], 'name': 'Dj Reynolds Pub And Restaurant', 'restaurant_id': '30191841'}
{'_id': ObjectId('61b822ba72b3ff1fc97923d5'), 'address': {'building': '2780', 'coord': [-73.98241999999999, 40.579505], 'street': 'Stillwell Avenue', 'zipcode': '11224'}, 'borough': 'Brooklyn', 'cuisine': 'American', 'grades': [{'date': datetime.datetime(2014, 6, 10, 0, 0), 'grade': 'A', 'score': 5}, {'date': datetime.datetime(2013, 6, 5, 0, 0), 'grade': 'A', 'score': 7}, {'date': datetime.datetime(2012, 4, 13, 0, 0), 'grade': 'A', 'score': 12}, {'date': datetime.datetime(2011, 10, 12, 0, 0), 'grade': 'A', 'score': 12}], 'name': 'Riviera Caterer', 'restaurant_id': '40356018'}
{'_id': ObjectId('61b822ba72b3ff1fc97923d6'), 'address': {'building': '97-22', 'coord': [-73.8601152, 40.7311739], 'street': '63 Road', 'zipcode': '11374'}, 'borough': 'Queens', 'cuisine': 'Jewish/Kosher', 'grades': [{'date': datetime.datetime(2014, 11, 24, 0, 0), 'grade': 'Z', 'score': 20}, {'date': datetime.datetime(2013, 1, 17, 0, 0), 'grade': 'A', 'score': 13}, {'date': datetime.datetime(2012, 8, 2, 0, 0), 'grade': 'A', 'score': 13}, {'date': datetime.datetime(2011, 12, 15, 0, 0), 'grade': 'B', 'score': 25}], 'name': 'Tov Kosher Kitchen', 'restaurant_id': '40356068'}
{'_id': ObjectId('61b822ba72b3ff1fc97923d7'), 'address': {'building': '8825', 'coord': [-73.8803827, 40.7643124], 'street': 'Astoria Boulevard', 'zipcode': '11369'}, 'borough': 'Queens', 'cuisine': 'American', 'grades': [{'date': datetime.datetime(2014, 11, 15, 0, 0), 'grade': 'Z', 'score': 38}, {'date': datetime.datetime(2014, 5, 2, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2013, 3, 2, 0, 0), 'grade': 'A', 'score': 7}, {'date': datetime.datetime(2012, 2, 10, 0, 0), 'grade': 'A', 'score': 13}], 'name': 'Brunos On The Boulevard', 'restaurant_id': '40356151'}
{'_id': ObjectId('61b822ba72b3ff1fc97923d8'), 'address': {'building': '2206', 'coord': [-74.1377286, 40.6119572], 'street': 'Victory Boulevard', 'zipcode': '10314'}, 'borough': 'Staten Island', 'cuisine': 'Jewish/Kosher', 'grades': [{'date': datetime.datetime(2014, 10, 6, 0, 0), 'grade': 'A', 'score': 9}, {'date': datetime.datetime(2014, 5, 20, 0, 0), 'grade': 'A', 'score': 12}, {'date': datetime.datetime(2013, 4, 4, 0, 0), 'grade': 'A', 'score': 12}, {'date': datetime.datetime(2012, 1, 24, 0, 0), 'grade': 'A', 'score': 9}], 'name': 'Kosher Island', 'restaurant_id': '40356442'}
{'_id': ObjectId('61b822ba72b3ff1fc97923d9'), 'address': {'building': '7114', 'coord': [-73.9068506, 40.6199034], 'street': 'Avenue U', 'zipcode': '11234'}, 'borough': 'Brooklyn', 'cuisine': 'Delicatessen', 'grades': [{'date': datetime.datetime(2014, 5, 29, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2014, 1, 14, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2013, 8, 3, 0, 0), 'grade': 'A', 'score': 8}, {'date': datetime.datetime(2012, 7, 18, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2012, 3, 9, 0, 0), 'grade': 'A', 'score': 13}, {'date': datetime.datetime(2011, 10, 14, 0, 0), 'grade': 'A', 'score': 9}], 'name': "Wilken'S Fine Food", 'restaurant_id': '40356483'}
{'_id': ObjectId('61b822ba72b3ff1fc97923da'), 'address': {'building': '6409', 'coord': [-74.00528899999999, 40.628886], 'street': '11 Avenue', 'zipcode': '11219'}, 'borough': 'Brooklyn', 'cuisine': 'American', 'grades': [{'date': datetime.datetime(2014, 7, 18, 0, 0), 'grade': 'A', 'score': 12}, {'date': datetime.datetime(2013, 7, 30, 0, 0), 'grade': 'A', 'score': 12}, {'date': datetime.datetime(2013, 2, 13, 0, 0), 'grade': 'A', 'score': 11}, {'date': datetime.datetime(2012, 8, 16, 0, 0), 'grade': 'A', 'score': 2}, {'date': datetime.datetime(2011, 8, 17, 0, 0), 'grade': 'A', 'score': 11}], 'name': 'Regina Caterers', 'restaurant_id': '40356649'}
{'_id': ObjectId('61b822ba72b3ff1fc97923db'), 'address': {'building': '1839', 'coord': [-73.9482609, 40.6408271], 'street': 'Nostrand Avenue', 'zipcode': '11226'}, 'borough': 'Brooklyn', 'cuisine': 'Ice Cream, Gelato, Yogurt, Ices', 'grades': [{'date': datetime.datetime(2014, 7, 14, 0, 0), 'grade': 'A', 'score': 12}, {'date': datetime.datetime(2013, 7, 10, 0, 0), 'grade': 'A', 'score': 8}, {'date': datetime.datetime(2012, 7, 11, 0, 0), 'grade': 'A', 'score': 5}, {'date': datetime.datetime(2012, 2, 23, 0, 0), 'grade': 'A', 'score': 8}], 'name': 'Taste The Tropics Ice Cream', 'restaurant_id': '40356731'}
{'_id': ObjectId('61b822ba72b3ff1fc97923dc'), 'address': {'building': '2300', 'coord': [-73.8786113, 40.8502883], 'street': 'Southern Boulevard', 'zipcode': '10460'}, 'borough': 'Bronx', 'cuisine': 'American', 'grades': [{'date': datetime.datetime(2014, 5, 28, 0, 0), 'grade': 'A', 'score': 11}, {'date': datetime.datetime(2013, 6, 19, 0, 0), 'grade': 'A', 'score': 4}, {'date': datetime.datetime(2012, 6, 15, 0, 0), 'grade': 'A', 'score': 3}], 'name': 'Wild Asia', 'restaurant_id': '40357217'}
{'_id': ObjectId('61b822ba72b3ff1fc97923dd'), 'address': {'building': '7715', 'coord': [-73.9973325, 40.61174889999999], 'street': '18 Avenue', 'zipcode': '11214'}, 'borough': 'Brooklyn', 'cuisine': 'American', 'grades': [{'date': datetime.datetime(2014, 4, 16, 0, 0), 'grade': 'A', 'score': 5}, {'date': datetime.datetime(2013, 4, 23, 0, 0), 'grade': 'A', 'score': 2}, {'date': datetime.datetime(2012, 4, 24, 0, 0), 'grade': 'A', 'score': 5}, {'date': datetime.datetime(2011, 12, 16, 0, 0), 'grade': 'A', 'score': 2}], 'name': 'C & C Catering Service', 'restaurant_id': '40357437'}
{'_id': ObjectId('61b822ba72b3ff1fc97923de'), 'address': {'building': '1269', 'coord': [-73.871194, 40.6730975], 'street': 'Sutter Avenue', 'zipcode': '11208'}, 'borough': 'Brooklyn', 'cuisine': 'Chinese', 'grades': [{'date': datetime.datetime(2014, 9, 16, 0, 0), 'grade': 'B', 'score': 21}, {'date': datetime.datetime(2013, 8, 28, 0, 0), 'grade': 'A', 'score': 7}, {'date': datetime.datetime(2013, 4, 2, 0, 0), 'grade': 'C', 'score': 56}, {'date': datetime.datetime(2012, 8, 15, 0, 0), 'grade': 'B', 'score': 27}, {'date': datetime.datetime(2012, 3, 28, 0, 0), 'grade': 'B', 'score': 27}], 'name': 'May May Kitchen', 'restaurant_id': '40358429'}
{'_id': ObjectId('61b822ba72b3ff1fc97923df'), 'address': {'building': '1', 'coord': [-73.96926909999999, 40.7685235], 'street': 'East   66 Street', 'zipcode': '10065'}, 'borough': 'Manhattan', 'cuisine': 'American', 'grades': [{'date': datetime.datetime(2014, 5, 7, 0, 0), 'grade': 'A', 'score': 3}, {'date': datetime.datetime(2013, 5, 3, 0, 0), 'grade': 'A', 'score': 4}, {'date': datetime.datetime(2012, 4, 30, 0, 0), 'grade': 'A', 'score': 6}, {'date': datetime.datetime(2011, 12, 27, 0, 0), 'grade': 'A', 'score': 0}], 'name': '1 East 66Th Street Kitchen', 'restaurant_id': '40359480'}
{'_id': ObjectId('61b822ba72b3ff1fc97923e0'), 'address': {'building': '705', 'coord': [-73.9653967, 40.6064339], 'street': 'Kings Highway', 'zipcode': '11223'}, 'borough': 'Brooklyn', 'cuisine': 'Jewish/Kosher', 'grades': [{'date': datetime.datetime(2014, 11, 10, 0, 0), 'grade': 'A', 'score': 11}, {'date': datetime.datetime(2013, 10, 10, 0, 0), 'grade': 'A', 'score': 13}, {'date': datetime.datetime(2012, 10, 4, 0, 0), 'grade': 'A', 'score': 7}, {'date': datetime.datetime(2012, 5, 21, 0, 0), 'grade': 'A', 'score': 9}, {'date': datetime.datetime(2011, 12, 30, 0, 0), 'grade': 'B', 'score': 19}], 'name': 'Seuda Foods', 'restaurant_id': '40360045'}
{'_id': ObjectId('61b822ba72b3ff1fc97923e1'), 'address': {'building': '203', 'coord': [-73.97822040000001, 40.6435254], 'street': 'Church Avenue', 'zipcode': '11218'}, 'borough': 'Brooklyn', 'cuisine': 'Ice Cream, Gelato, Yogurt, Ices', 'grades': [{'date': datetime.datetime(2014, 2, 10, 0, 0), 'grade': 'A', 'score': 2}, {'date': datetime.datetime(2013, 1, 2, 0, 0), 'grade': 'A', 'score': 13}, {'date': datetime.datetime(2012, 1, 9, 0, 0), 'grade': 'A', 'score': 3}, {'date': datetime.datetime(2011, 11, 7, 0, 0), 'grade': 'P', 'score': 12}, {'date': datetime.datetime(2011, 7, 21, 0, 0), 'grade': 'A', 'score': 13}], 'name': 'Carvel Ice Cream', 'restaurant_id': '40360076'}
{'_id': ObjectId('61b822ba72b3ff1fc97923e2'), 'address': {'building': '265-15', 'coord': [-73.7032601, 40.7386417], 'street': 'Hillside Avenue', 'zipcode': '11004'}, 'borough': 'Queens', 'cuisine': 'Ice Cream, Gelato, Yogurt, Ices', 'grades': [{'date': datetime.datetime(2014, 10, 28, 0, 0), 'grade': 'A', 'score': 9}, {'date': datetime.datetime(2013, 9, 18, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2012, 9, 20, 0, 0), 'grade': 'A', 'score': 13}], 'name': 'Carvel Ice Cream', 'restaurant_id': '40361322'}
{'_id': ObjectId('61b822ba72b3ff1fc97923e3'), 'address': {'building': '6909', 'coord': [-74.0259567, 40.6353674], 'street': '3 Avenue', 'zipcode': '11209'}, 'borough': 'Brooklyn', 'cuisine': 'Delicatessen', 'grades': [{'date': datetime.datetime(2014, 8, 21, 0, 0), 'grade': 'A', 'score': 4}, {'date': datetime.datetime(2014, 3, 5, 0, 0), 'grade': '

In [5]:
collection.find_one({'name':'Robert'})

{'_id': ObjectId('61aa39b22317d1148b061b17'),
 'name': 'Robert',
 'star_sign': 'Leo',
 'favourite_song': 'Bad day'}

Remember, for MongoDB, you do not have to specify a schema or create a collection, it will be created automatically.  You don't need to keep to the same layout, but can have entirely different objects.  Consider the following:

In [6]:
from datetime import datetime
obj1 = {'Meaning of life': 42}
obj2 = {'ABC': 'DEF', 'time': datetime.now()}
collection.insert_one(obj1)
collection.insert_one(obj2)

for doc in collection.find():
    print(doc)

{'_id': ObjectId('61aa39b22317d1148b061b15'), 'name': 'Amber', 'star_sign': 'Capricorn', 'favourite_song': 'Bad Guy'}
{'_id': ObjectId('61aa39b22317d1148b061b16'), 'name': 'Huw', 'star_sign': 'Libra', 'favourite_song': 'The masses against the classes'}
{'_id': ObjectId('61aa39b22317d1148b061b17'), 'name': 'Robert', 'star_sign': 'Leo', 'favourite_song': 'Bad day'}
{'_id': ObjectId('61aa39b22317d1148b061b18'), 'Meaning of life': 42}
{'_id': ObjectId('61aa39b22317d1148b061b19'), 'ABC': 'DEF', 'time': datetime.datetime(2021, 12, 3, 15, 37, 22, 598000)}
{'_id': ObjectId('61aa39b22317d1148b061b1b'), 'name': 'Ami', 'star_sign': 'Capricorn', 'favourite_song': 'Havana'}
{'_id': ObjectId('61aa39b22317d1148b061b1c'), 'name': 'Ken', 'star_sign': 'Libra', 'favourite_song': 'What about Us'}
{'_id': ObjectId('61b822b9b587cacd36f2ffaa'), 'name': 'Amber', 'star_sign': 'Capricorn', 'favourite_song': 'The Load-Out'}
{'_id': ObjectId('61b822b9b587cacd36f2ffab'), 'name': 'Huw', 'star_sign': 'Libra', 'favourite_song': 'The masses against the classes'}
{'_id': ObjectId('61b822b9b587cacd36f2ffac'), 'name': 'Robert', 'star_sign': 'Leo', 'favourite_song': 'Bad day'}
{'_id': ObjectId('61b822b9b587cacd36f2ffad'), 'Meaning of life': 42}
{'_id': ObjectId('61b822b9b587cacd36f2ffae'), 'ABC': 'DEF', 'time': datetime.datetime(2021, 12, 14, 4, 51, 5, 571000)}

Q: We can also use the `insert_many`, which accepts a list of dicts.  In the cell below, create a list of dicts called `many_objects`, and call the `insert_many` function.  The code below that will iterate over all the documents in the database.

In [7]:
# YOUR CODE HERE
# the list of dits
many_objects = [
  { 'name': 'Jack', 'star_sign': 'Capricorn', 'favourite_song': 'The Shape of You'},
  { 'name': 'Ami', 'star_sign': 'Capricorn', 'favourite_song': 'Havana' } ,
  { 'name': 'Ken', 'star_sign': 'Libra', 'favourite_song': 'What about Us' }
]
collection.insert_many(many_objects)
#See what has been inserted into the collection
for doc in collection.find():
    print(doc)

{'_id': ObjectId('61aa39b22317d1148b061b15'), 'name': 'Amber', 'star_sign': 'Capricorn', 'favourite_song': 'Bad Guy'}
{'_id': ObjectId('61aa39b22317d1148b061b16'), 'name': 'Huw', 'star_sign': 'Libra', 'favourite_song': 'The masses against the classes'}
{'_id': ObjectId('61aa39b22317d1148b061b17'), 'name': 'Robert', 'star_sign': 'Leo', 'favourite_song': 'Bad day'}
{'_id': ObjectId('61aa39b22317d1148b061b18'), 'Meaning of life': 42}
{'_id': ObjectId('61aa39b22317d1148b061b19'), 'ABC': 'DEF', 'time': datetime.datetime(2021, 12, 3, 15, 37, 22, 598000)}
{'_id': ObjectId('61aa39b22317d1148b061b1b'), 'name': 'Ami', 'star_sign': 'Capricorn', 'favourite_song': 'Havana'}
{'_id': ObjectId('61aa39b22317d1148b061b1c'), 'name': 'Ken', 'star_sign': 'Libra', 'favourite_song': 'What about Us'}
{'_id': ObjectId('61b822b9b587cacd36f2ffaa'), 'name': 'Amber', 'star_sign': 'Capricorn', 'favourite_song': 'The Load-Out'}
{'_id': ObjectId('61b822b9b587cacd36f2ffab'), 'name': 'Huw', 'star_sign': 'Libra', 'favourite_song': 'The masses against the classes'}
{'_id': ObjectId('61b822b9b587cacd36f2ffac'), 'name': 'Robert', 'star_sign': 'Leo', 'favourite_song': 'Bad day'}
{'_id': ObjectId('61b822b9b587cacd36f2ffad'), 'Meaning of life': 42}
{'_id': ObjectId('61b822b9b587cacd36f2ffae'), 'ABC': 'DEF', 'time': datetime.datetime(2021, 12, 14, 4, 51, 5, 571000)}
{'_id': ObjectId('61b822b9b587cacd36f2ffaf'), 'name': 'Jack', 'star_sign': 'Capricorn', 'favourite_song': 'The Shape of You'}
{'_id': ObjectId('61b822b9b587cacd36f2ffb0'), 'name': 'Ami', 'star_sign': 'Capricorn', 'favourite_song': 'Havana'}
{'_id': ObjectId('61b822b9b587cacd36f2ffb1'), 'name': 'Ken', 'star_sign': 'Libra', 'favourite_song': 'What about Us'}

## Update and delete data

If we hope to modify the existing data in the database, we need to use the `update` and `delete`

In [8]:
# find the one whose "star_sign" is "Capricorn"
myquery = { "star_sign": "Capricorn" }

# set the new "favourite_song" as "Bad Guy"
newvalues = { "$set": { "favourite_song": "Bad Guy" } }

# find the first one and modify it
collection.update_one(myquery, newvalues)

# you can also use code like this to update all data containing "Facebook" as the name.
# find all data and modify them
# collection.update_many(myquery, newvalues)


for doc in collection.find():
    print(doc)

{'_id': ObjectId('61aa39b22317d1148b061b15'), 'name': 'Amber', 'star_sign': 'Capricorn', 'favourite_song': 'Bad Guy'}
{'_id': ObjectId('61aa39b22317d1148b061b16'), 'name': 'Huw', 'star_sign': 'Libra', 'favourite_song': 'The masses against the classes'}
{'_id': ObjectId('61aa39b22317d1148b061b17'), 'name': 'Robert', 'star_sign': 'Leo', 'favourite_song': 'Bad day'}
{'_id': ObjectId('61aa39b22317d1148b061b18'), 'Meaning of life': 42}
{'_id': ObjectId('61aa39b22317d1148b061b19'), 'ABC': 'DEF', 'time': datetime.datetime(2021, 12, 3, 15, 37, 22, 598000)}
{'_id': ObjectId('61aa39b22317d1148b061b1b'), 'name': 'Ami', 'star_sign': 'Capricorn', 'favourite_song': 'Havana'}
{'_id': ObjectId('61aa39b22317d1148b061b1c'), 'name': 'Ken', 'star_sign': 'Libra', 'favourite_song': 'What about Us'}
{'_id': ObjectId('61b822b9b587cacd36f2ffaa'), 'name': 'Amber', 'star_sign': 'Capricorn', 'favourite_song': 'The Load-Out'}
{'_id': ObjectId('61b822b9b587cacd36f2ffab'), 'name': 'Huw', 'star_sign': 'Libra', 'favourite_song': 'The masses against the classes'}
{'_id': ObjectId('61b822b9b587cacd36f2ffac'), 'name': 'Robert', 'star_sign': 'Leo', 'favourite_song': 'Bad day'}
{'_id': ObjectId('61b822b9b587cacd36f2ffad'), 'Meaning of life': 42}
{'_id': ObjectId('61b822b9b587cacd36f2ffae'), 'ABC': 'DEF', 'time': datetime.datetime(2021, 12, 14, 4, 51, 5, 571000)}
{'_id': ObjectId('61b822b9b587cacd36f2ffaf'), 'name': 'Jack', 'star_sign': 'Capricorn', 'favourite_song': 'The Shape of You'}
{'_id': ObjectId('61b822b9b587cacd36f2ffb0'), 'name': 'Ami', 'star_sign': 'Capricorn', 'favourite_song': 'Havana'}
{'_id': ObjectId('61b822b9b587cacd36f2ffb1'), 'name': 'Ken', 'star_sign': 'Libra', 'favourite_song': 'What about Us'}

In [9]:
# search condition
myquery = { "name": "Jack" }

# find the first one and delete it
collection.delete_one(myquery)

# you can also use this to update all data containing "Facebook" as the name.
# find all and delete them
# collection.delete_many(myquery)
# or you can use this to delete the whole collection.
# collection.drop()

for doc in collection.find():
    print(doc)

{'_id': ObjectId('61aa39b22317d1148b061b15'), 'name': 'Amber', 'star_sign': 'Capricorn', 'favourite_song': 'Bad Guy'}
{'_id': ObjectId('61aa39b22317d1148b061b16'), 'name': 'Huw', 'star_sign': 'Libra', 'favourite_song': 'The masses against the classes'}
{'_id': ObjectId('61aa39b22317d1148b061b17'), 'name': 'Robert', 'star_sign': 'Leo', 'favourite_song': 'Bad day'}
{'_id': ObjectId('61aa39b22317d1148b061b18'), 'Meaning of life': 42}
{'_id': ObjectId('61aa39b22317d1148b061b19'), 'ABC': 'DEF', 'time': datetime.datetime(2021, 12, 3, 15, 37, 22, 598000)}
{'_id': ObjectId('61aa39b22317d1148b061b1b'), 'name': 'Ami', 'star_sign': 'Capricorn', 'favourite_song': 'Havana'}
{'_id': ObjectId('61aa39b22317d1148b061b1c'), 'name': 'Ken', 'star_sign': 'Libra', 'favourite_song': 'What about Us'}
{'_id': ObjectId('61b822b9b587cacd36f2ffaa'), 'name': 'Amber', 'star_sign': 'Capricorn', 'favourite_song': 'The Load-Out'}
{'_id': ObjectId('61b822b9b587cacd36f2ffab'), 'name': 'Huw', 'star_sign': 'Libra', 'favourite_song': 'The masses against the classes'}
{'_id': ObjectId('61b822b9b587cacd36f2ffac'), 'name': 'Robert', 'star_sign': 'Leo', 'favourite_song': 'Bad day'}
{'_id': ObjectId('61b822b9b587cacd36f2ffad'), 'Meaning of life': 42}
{'_id': ObjectId('61b822b9b587cacd36f2ffae'), 'ABC': 'DEF', 'time': datetime.datetime(2021, 12, 14, 4, 51, 5, 571000)}
{'_id': ObjectId('61b822b9b587cacd36f2ffb0'), 'name': 'Ami', 'star_sign': 'Capricorn', 'favourite_song': 'Havana'}
{'_id': ObjectId('61b822b9b587cacd36f2ffb1'), 'name': 'Ken', 'star_sign': 'Libra', 'favourite_song': 'What about Us'}

Hint: Some of you are worried about accidental deletion of data and databases. In fact, Mongodb cannot perform the operation rollback. So generally there are two options to protect your database:
* [Backup and Restore](https://docs.mongodb.com/manual/tutorial/backup-and-restore-tools/)
* [Enable the Authentication](https://medium.com/@raj_adroit/mongodb-enable-authentication-enable-access-control-e8a75a26d332)

## Importing data

For this part of the exercise, we will use a sample dataset provided by Mongo  for a documentation tutorial.  The following cell runs the `mongoimport` command, which is a Unix command which comes with Mongo for importing data. We will need to run a bash command in the next cell first.  This uses the Jupyter \"magics\", and requires that the first line include `%%bash`. The code does the following:

- Download the JSON file from the url, and save as ./primer-dataset.json
- Import into the `tutorial` database into the collection `restaurants` whilst dropping any collection which already exists from the file ./primer-dataset.json
- Deletes the file.

 Click on the following cell, and execute it:

In [10]:
%%bash
# Use wget to download the data
wget https://raw.githubusercontent.com/mongodb/docs-assets/primer-dataset/primer-dataset.json
# mongoimport is the Mongo command to import data.  
# It specifies the database, collection and format, and import file
# --drop means it's going to drop any collection with the same name which already exists
mongoimport --db tutorial --collection restaurants --drop --file ./primer-dataset.json -u tutorial -p tutorial --authenticationDatabase tutorial
# Delete the JSON file we just downloaded
rm ./primer-dataset.json

--2021-12-14 04:51:05--  https://raw.githubusercontent.com/mongodb/docs-assets/primer-dataset/primer-dataset.json
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 11874761 (11M) [text/plain]
Saving to: ‘primer-dataset.json’

     0K .......... .......... .......... .......... ..........  0% 11.4M 1s
    50K .......... .......... .......... .......... ..........  0% 13.7M 1s
   100K .......... .......... .......... .......... ..........  1% 78.1M 1s
   150K .......... .......... .......... .......... ..........  1% 22.2M 1s
   200K .......... .......... .......... .......... ..........  2% 47.9M 1s
   250K .......... .......... .......... .......... ..........  2% 76.9M 0s
   300K .......... .......... .......... .......... ..........  3% 53.4M 0s
   350K .......... .......... .......... .......... ..........  3% 76.4M 0s
   400K .......... .......... .......... .......... ..........  3% 65.3M 0s
   450K .......... .......... .......... .......... ..........  4% 89.5M 0s
   500K .......... .......... .......... .......... ..........  4% 76.0M 0s
   550K .......... .......... .......... .......... ..........  5% 78.2M 0s
   600K .......... .......... .......... .......... ..........  5% 97.6M 0s
   650K .......... .......... .......... .......... ..........  6% 86.9M 0s
   700K .......... .......... .......... .......... ..........  6%  120M 0s
   750K .......... .......... .......... .......... ..........  6%  111M 0s
   800K .......... .......... .......... .......... ..........  7%  132M 0s
   850K .......... .......... .......... .......... ..........  7%  106M 0s
   900K .......... .......... .......... .......... ..........  8%  108M 0s
   950K .......... .......... .......... .......... ..........  8%  107M 0s
  1000K .......... .......... .......... .......... ..........  9%  124M 0s
  1050K .......... .......... .......... .......... ..........  9%  127M 0s
  1100K .......... .......... .......... .......... ..........  9% 97.0M 0s
  1150K .......... .......... .......... .......... .......... 10% 96.6M 0s
  1200K .......... .......... .......... .......... .......... 10%  109M 0s
  1250K .......... .......... .......... .......... .......... 11%  105M 0s
  1300K .......... .......... .......... .......... .......... 11%  102M 0s
  1350K .......... .......... .......... .......... .......... 12% 97.3M 0s
  1400K .......... .......... .......... .......... .......... 12%  121M 0s
  1450K .......... .......... .......... .......... .......... 12%  116M 0s
  1500K .......... .......... .......... .......... .......... 13%  121M 0s
  1550K .......... .......... .......... .......... .......... 13%  103M 0s
  1600K .......... .......... .......... .......... .......... 14%  127M 0s
  1650K .......... .......... .......... .......... .......... 14%  135M 0s
  1700K .......... .......... .......... .......... .......... 15%  128M 0s
  1750K .......... .......... .......... .......... .......... 15% 93.1M 0s
  1800K .......... .......... .......... .......... .......... 15%  104M 0s
  1850K .......... .......... .......... .......... .......... 16%  116M 0s
  1900K .......... .......... .......... .......... .......... 16%  114M 0s
  1950K .......... .......... .......... .......... .......... 17%  104M 0s
  2000K .......... .......... .......... .......... .......... 17%  138M 0s
  2050K .......... .......... .......... .......... .......... 18%  135M 0s
  2100K .......... .......... .......... .......... .......... 18%  127M 0s
  2150K .......... .......... .......... .......... .......... 18%  110M 0s
  2200K .......... .......... .......... .......... .......... 19%  128M 0s
  2250K .......... .......... .......... .......... .......... 19%  124M 0s
  2300K .......... .......... .......... .......... .......... 20%  125M 0s
  2350K .......... .......... .......... .......... .......... 20%  120M 0s
  2400K .......... .......... .......... .......... .......... 21%  124M 0s
  2450K .......... .......... .......... .......... .......... 21%  135M 0s
  2500K .......... .......... .......... .......... .......... 21%  130M 0s
  2550K .......... .......... .......... .......... .......... 22%  101M 0s
  2600K .......... .......... .......... .......... .......... 22%  116M 0s
  2650K .......... .......... .......... .......... .......... 23%  132M 0s
  2700K .......... .......... .......... .......... .......... 23%  143M 0s
  2750K .......... .......... .......... .......... .......... 24%  125M 0s
  2800K .......... .......... .......... .......... .......... 24%  130M 0s
  2850K .......... .......... .......... .......... .......... 25%  123M 0s
  2900K .......... .......... .......... .......... .......... 25%  133M 0s
  2950K .......... .......... .......... .......... .......... 25%  112M 0s
  3000K .......... .......... .......... .......... .......... 26%  130M 0s
  3050K .......... .......... .......... .......... .......... 26%  114M 0s
  3100K .......... .......... .......... .......... .......... 27%  133M 0s
  3150K .......... .......... .......... .......... .......... 27%  125M 0s
  3200K .......... .......... .......... .......... .......... 28%  140M 0s
  3250K .......... .......... .......... .......... .......... 28%  144M 0s
  3300K .......... .......... .......... .......... .......... 28%  124M 0s
  3350K .......... .......... .......... .......... .......... 29%  131M 0s
  3400K .......... .......... .......... .......... .......... 29%  141M 0s
  3450K .......... .......... .......... .......... .......... 30%  138M 0s
  3500K .......... .......... .......... .......... .......... 30%  130M 0s
  3550K .......... .......... .......... .......... .......... 31%  110M 0s
  3600K .......... .......... .......... .......... .......... 31%  130M 0s
  3650K .......... .......... .......... .......... .......... 31%  146M 0s
  3700K .......... .......... .......... .......... .......... 32%  130M 0s
  3750K .......... .......... .......... .......... .......... 32%  114M 0s
  3800K .......... .......... .......... .......... .......... 33%  133M 0s
  3850K .......... .......... .......... .......... .......... 33%  139M 0s
  3900K .......... .......... .......... .......... .......... 34%  144M 0s
  3950K .......... .......... .......... .......... .......... 34%  137M 0s
  4000K .......... .......... .......... .......... .......... 34%  130M 0s
  4050K .......... .......... .......... .......... .......... 35%  143M 0s
  4100K .......... .......... .......... .......... .......... 35%  128M 0s
  4150K .......... .......... .......... .......... .......... 36%  111M 0s
  4200K .......... .......... .......... .......... .......... 36%  134M 0s
  4250K .......... .......... .......... .......... .......... 37%  128M 0s
  4300K .......... .......... .......... .......... .......... 37%  151M 0s
  4350K .......... .......... .......... .......... .......... 37%  113M 0s
  4400K .......... .......... .......... .......... .......... 38%  145M 0s
  4450K .......... .......... .......... .......... .......... 38%  139M 0s
  4500K .......... .......... .......... .......... .......... 39%  134M 0s
  4550K .......... .......... .......... .......... .......... 39%  112M 0s
  4600K .......... .......... .......... .......... .......... 40%  134M 0s
  4650K .......... .......... .......... .......... .......... 40%  127M 0s
  4700K .......... .......... .......... .......... .......... 40%  131M 0s
  4750K .......... .......... .......... .......... .......... 41%  126M 0s
  4800K .......... .......... .......... .......... .......... 41%  138M 0s
  4850K .......... .......... .......... .......... .......... 42%  137M 0s
  4900K .......... .......... .......... .......... .......... 42%  135M 0s
  4950K .......... .......... .......... .......... .......... 43%  113M 0s
  5000K .......... .......... .......... .......... .......... 43%  140M 0s
  5050K .......... .......... .......... .......... .......... 43%  129M 0s
  5100K .......... .......... .......... .......... .......... 44%  134M 0s
  5150K .......... .......... .......... .......... .......... 44%  118M 0s
  5200K .......... .......... .......... .......... .......... 45%  128M 0s
  5250K .......... .......... .......... .......... .......... 45%  147M 0s
  5300K .......... .......... .......... .......... .......... 46%  141M 0s
  5350K .......... .......... .......... .......... .......... 46% 98.9M 0s
  5400K .......... .......... .......... .......... .......... 46%  142M 0s
  5450K .......... .......... .......... .......... .......... 47%  122M 0s
  5500K .......... .......... .......... .......... .......... 47%  124M 0s
  5550K .......... .......... .......... .......... .......... 48%  121M 0s
  5600K .......... .......... .......... .......... .......... 48%  131M 0s
  5650K .......... .......... .......... .......... .......... 49%  135M 0s
  5700K .......... .......... .......... .......... .......... 49%  134M 0s
  5750K .......... .......... .......... .......... .......... 50%  115M 0s
  5800K .......... .......... .......... .......... .......... 50%  149M 0s
  5850K .......... .......... .......... .......... .......... 50%  109M 0s
  5900K .......... .......... .......... .......... .......... 51%  132M 0s
  5950K .......... .......... .......... .......... .......... 51%  132M 0s
  6000K .......... .......... .......... .......... .......... 52%  109M 0s
  6050K .......... .......... .......... .......... .......... 52%  134M 0s
  6100K .......... .......... .......... .......... .......... 53%  130M 0s
  6150K .......... .......... .......... .......... .......... 53%  118M 0s
  6200K .......... .......... .......... .......... .......... 53%  129M 0s
  6250K .......... .......... .......... ...

Q: Change the variable collection to refer to the new collection restaurants, and inspect the general format of the data by adding the code below to find the first record of the collection:

In [11]:
# YOUR CODE HERE

from pprint import pprint
# use the collection 'restaurants'
collection = db.restaurants
collection.find_one()

{'_id': ObjectId('61b822ba72b3ff1fc97923d3'),
 'address': {'building': '469',
  'coord': [-73.961704, 40.662942],
  'street': 'Flatbush Avenue',
  'zipcode': '11225'},
 'borough': 'Brooklyn',
 'cuisine': 'Hamburgers',
 'grades': [{'date': datetime.datetime(2014, 12, 30, 0, 0),
   'grade': 'A',
   'score': 8},
  {'date': datetime.datetime(2014, 7, 1, 0, 0), 'grade': 'B', 'score': 23},
  {'date': datetime.datetime(2013, 4, 30, 0, 0), 'grade': 'A', 'score': 12},
  {'date': datetime.datetime(2012, 5, 8, 0, 0), 'grade': 'A', 'score': 12}],
 'name': "Wendy'S",
 'restaurant_id': '30112340'}

We saw the [`collection.find()`](https://api.mongodb.com/python/current/api/pymongo/collection.html#pymongo.collection.Collection.find) function earlier to return all the documents we inserted into our `test` collection.  Without any arguments, `find()` will return a cursor of all the available documents from in the collection.  To refine queries, however, the search can be filtered by the addition of a first parameter.

The `filter` parameter is a dict, which searches for the documents where `key` = `value` where the dict is of the form `{key: value}`.  For example, to find all bakeries in the city, we would do the following query:   

**WARNING** Unlike the Mongo command line interface, if you try and print the output of a `find()` query, it will continue to output all results until it has finished.  This can cause the browser to crash, particularly if it is a particularly large query set.

Using `find().count()` is a useful way of checking how many a result will return, and `find_one()` to see the general structure of a result. If you use `find()`, make sure you either include the `limit` argument, or have a counter or other condition to break out of your printing loop!

In [12]:
cursor = collection.find({'cuisine': 'Bakery'}).limit(5)
for c in cursor:
    pprint(c)

{'_id': ObjectId('61b822ba72b3ff1fc97923e5'),
 'address': {'building': '1007',
             'coord': [-73.856077, 40.848447],
             'street': 'Morris Park Ave',
             'zipcode': '10462'},
 'borough': 'Bronx',
 'cuisine': 'Bakery',
 'grades': [{'date': datetime.datetime(2014, 3, 3, 0, 0),
             'grade': 'A',
             'score': 2},
            {'date': datetime.datetime(2013, 9, 11, 0, 0),
             'grade': 'A',
             'score': 6},
            {'date': datetime.datetime(2013, 1, 24, 0, 0),
             'grade': 'A',
             'score': 10},
            {'date': datetime.datetime(2011, 11, 23, 0, 0),
             'grade': 'A',
             'score': 9},
            {'date': datetime.datetime(2011, 3, 10, 0, 0),
             'grade': 'B',
             'score': 14}],
 'name': 'Morris Park Bake Shop',
 'restaurant_id': '30075445'}
{'_id': ObjectId('61b822ba72b3ff1fc97923f4'),
 'address': {'building': '120',
             'coord': [-73.9998042, 40.7251256],
             'street': 'Prince Street',
             'zipcode': '10012'},
 'borough': 'Manhattan',
 'cuisine': 'Bakery',
 'grades': [{'date': datetime.datetime(2014, 10, 17, 0, 0),
             'grade': 'A',
             'score': 11},
            {'date': datetime.datetime(2013, 9, 18, 0, 0),
             'grade': 'A',
             'score': 13},
            {'date': datetime.datetime(2013, 4, 30, 0, 0),
             'grade': 'A',
             'score': 7},
            {'date': datetime.datetime(2012, 4, 20, 0, 0),
             'grade': 'A',
             'score': 7},
            {'date': datetime.datetime(2011, 12, 19, 0, 0),
             'grade': 'A',
             'score': 3}],
 'name': "Olive'S",
 'restaurant_id': '40363151'}
{'_id': ObjectId('61b822ba72b3ff1fc9792534'),
 'address': {'building': '267',
             'coord': [-73.933605, 40.669476],
             'street': 'Schenectady Avenue',
             'zipcode': '11213'},
 'borough': 'Brooklyn',
 'cuisine': 'Bakery',
 'grades': [{'date': datetime.datetime(2014, 3, 18, 0, 0),
             'grade': 'A',
             'score': 2},
            {'date': datetime.datetime(2013, 10, 3, 0, 0),
             'grade': 'A',
             'score': 13},
            {'date': datetime.datetime(2012, 9, 26, 0, 0),
             'grade': 'A',
             'score': 13},
            {'date': datetime.datetime(2011, 10, 13, 0, 0),
             'grade': 'A',
             'score': 7}],
 'name': 'Tropical House Baking Co.',
 'restaurant_id': '40372596'}
{'_id': ObjectId('61b822ba72b3ff1fc97925ff'),
 'address': {'building': '70',
             'coord': [-73.975144, 40.675441],
             'street': '7 Avenue',
             'zipcode': '11217'},
 'borough': 'Brooklyn',
 'cuisine': 'Bakery',
 'grades': [{'date': datetime.datetime(2014, 11, 26, 0, 0),
             'grade': 'A',
             'score': 9},
            {'date': datetime.datetime(2013, 12, 11, 0, 0),
             'grade': 'A',
             'score': 11},
            {'date': datetime.datetime(2012, 12, 7, 0, 0),
             'grade': 'A',
             'score': 9},
            {'date': datetime.datetime(2011, 12, 20, 0, 0),
             'grade': 'A',
             'score': 12}],
 'name': "Cousin John'S Cafe And Bakery",
 'restaurant_id': '40383763'}
{'_id': ObjectId('61b822ba72b3ff1fc979261b'),
 'address': {'building': '2169',
             'coord': [-73.90539919999999, 40.7730596],
             'street': 'Steinway Street',
             'zipcode': '11105'},
 'borough': 'Queens',
 'cuisine': 'Bakery',
 'grades': [{'date': datetime.datetime(2014, 10, 23, 0, 0),
             'grade': 'A',
             'score': 7},
            {'date': datetime.datetime(2013, 10, 3, 0, 0),
             'grade': 'A',
             'score': 12},
            {'date': datetime.datetime(2013, 5, 18, 0, 0),
             'grade': 'A',
             'score': 12},
            {'date': datetime.datetime(2012, 12, 5, 0, 0),
             'grade': 'A',
             'score': 11},
            {'date': datetime.datetime(2012, 6, 14, 0, 0),
             'grade': 'A',
             'score': 9},
            {'date': datetime.datetime(2011, 11, 29, 0, 0),
             'grade': 'A',
             'score': 8}],
 'name': 'Victory Sweet Shop',
 'restaurant_id': '40384920'}

Noted, count() is deprecated in the MongoDb drivers compatible with the 4.0features, as a result, we should use countDocuments() in the following exercises. (for more information, check https://docs.mongodb.com/manual/reference/method/db.collection.count/ and http://api.mongodb.com/python/current/changelog.html)

In [13]:
collection.count_documents({'cuisine': 'Bakery'})

691

Q: A filter can have as many conditions as you like, and will assume that you are using an AND condition, unless you specify otherwise (as below). In the cell below, write a query to return the number/count of all the establishments with a cuisine of Hamburgers in the borough of Manhattan.

In [14]:
# YOUR CODE HERE
# All establishments with: 
# * a cuisine of 'Hamburgers' 
# * in the borough of 'Manhattan'

collection.count_documents({'cuisine': 'Hamburgers', 'borough': 'Manhattan'})

124

### Sub-documents
A valid JSON style "document" can have another JSON document inside it. To access these, we use the "dot" notation to access them. For example, to get all the restaurants in a certain zipcode, you would run code as follows:

In [15]:
from pprint import pprint
cursor = collection.find({'address.zipcode': '10462'}, limit=5)
for c in cursor:
    pprint(c)

{'_id': ObjectId('61b822ba72b3ff1fc97923e5'),
 'address': {'building': '1007',
             'coord': [-73.856077, 40.848447],
             'street': 'Morris Park Ave',
             'zipcode': '10462'},
 'borough': 'Bronx',
 'cuisine': 'Bakery',
 'grades': [{'date': datetime.datetime(2014, 3, 3, 0, 0),
             'grade': 'A',
             'score': 2},
            {'date': datetime.datetime(2013, 9, 11, 0, 0),
             'grade': 'A',
             'score': 6},
            {'date': datetime.datetime(2013, 1, 24, 0, 0),
             'grade': 'A',
             'score': 10},
            {'date': datetime.datetime(2011, 11, 23, 0, 0),
             'grade': 'A',
             'score': 9},
            {'date': datetime.datetime(2011, 3, 10, 0, 0),
             'grade': 'B',
             'score': 14}],
 'name': 'Morris Park Bake Shop',
 'restaurant_id': '30075445'}
{'_id': ObjectId('61b822ba72b3ff1fc9792427'),
 'address': {'building': '2222',
             'coord': [-73.84971759999999, 40.8304811],
             'street': 'Haviland Avenue',
             'zipcode': '10462'},
 'borough': 'Bronx',
 'cuisine': 'American',
 'grades': [{'date': datetime.datetime(2014, 12, 18, 0, 0),
             'grade': 'A',
             'score': 7},
            {'date': datetime.datetime(2014, 5, 1, 0, 0),
             'grade': 'B',
             'score': 17},
            {'date': datetime.datetime(2013, 3, 14, 0, 0),
             'grade': 'A',
             'score': 12},
            {'date': datetime.datetime(2012, 9, 20, 0, 0),
             'grade': 'A',
             'score': 9},
            {'date': datetime.datetime(2012, 2, 8, 0, 0),
             'grade': 'B',
             'score': 19}],
 'name': 'The New Starling Athletic Club Of The Bronx',
 'restaurant_id': '40364956'}
{'_id': ObjectId('61b822ba72b3ff1fc979247f'),
 'address': {'building': '1191',
             'coord': [-73.8513114, 40.8316981],
             'street': 'Castle Hill Avenue',
             'zipcode': '10462'},
 'borough': 'Bronx',
 'cuisine': 'Café/Coffee/Tea',
 'grades': [{'date': datetime.datetime(2014, 7, 3, 0, 0),
             'grade': 'A',
             'score': 12},
            {'date': datetime.datetime(2013, 7, 8, 0, 0),
             'grade': 'A',
             'score': 9},
            {'date': datetime.datetime(2013, 2, 11, 0, 0),
             'grade': 'A',
             'score': 11},
            {'date': datetime.datetime(2012, 8, 14, 0, 0),
             'grade': 'B',
             'score': 14},
            {'date': datetime.datetime(2011, 8, 23, 0, 0),
             'grade': 'A',
             'score': 12}],
 'name': "Lulu'S Coffee Shop",
 'restaurant_id': '40366938'}
{'_id': ObjectId('61b822ba72b3ff1fc97924e0'),
 'address': {'building': '2375',
             'coord': [-73.85534559999999, 40.8426433],
             'street': 'East Tremont Avenue',
             'zipcode': '10462'},
 'borough': 'Bronx',
 'cuisine': 'American',
 'grades': [{'date': datetime.datetime(2014, 10, 14, 0, 0),
             'grade': 'A',
             'score': 13},
            {'date': datetime.datetime(2014, 4, 8, 0, 0),
             'grade': 'A',
             'score': 8},
            {'date': datetime.datetime(2013, 11, 4, 0, 0),
             'grade': 'C',
             'score': 45},
            {'date': datetime.datetime(2013, 5, 23, 0, 0),
             'grade': 'A',
             'score': 10},
            {'date': datetime.datetime(2012, 10, 18, 0, 0),
             'grade': 'B',
             'score': 15},
            {'date': datetime.datetime(2012, 10, 5, 0, 0),
             'grade': 'P',
             'score': 12},
            {'date': datetime.datetime(2012, 5, 14, 0, 0),
             'grade': 'A',
             'score': 12},
            {'date': datetime.datetime(2011, 12, 21, 0, 0),
             'grade': 'A',
             'score': 11}],
 'name': 'Bronx Grill',
 'restaurant_id': '40369601'}
{'_id': ObjectId('61b822ba72b3ff1fc9792568'),
 'address': {'building': '1200',
             'coord': [-73.8507489, 40.832069],
             'street': 'Castle Hill Avenue',
             'zipcode': '10462'},
 'borough': 'Bronx',
 'cuisine': 'Chinese/Cuban',
 'grades': [{'date': datetime.datetime(2014, 10, 29, 0, 0),
             'grade': 'B',
             'score': 15},
            {'date': datetime.datetime(2014, 4, 3, 0, 0),
             'grade': 'A',
             'score': 7},
            {'date': datetime.datetime(2012, 2, 16, 0, 0),
             'grade': 'A',
             'score': 5}],
 'name': 'Sabrosura Restaurant',
 'restaurant_id': '40375136'}

### Operators

MongoDB has a series of [operators](https://docs.mongodb.com/manual/reference/operator/query/) which allow us to do more sophisticated filters on our queries.  There are too many to go into individually, but we will look at a few important ones.  The specific syntax varies depending on the operator, so it isn't possible to give a general rule, but we will go over a few examples here.  Make sure you check the [documentation](https://docs.mongodb.com/manual/reference/operator/query/) for use on each one.

#### [\$and](https://docs.mongodb.com/manual/reference/operator/query/and/#op._S_and)

Performs a logical **AND** operation on all the key/value pairs in a list, and selects the documents that satisfy all the expressions. As in the code below:

In [16]:
filter = {"$and": [{"cuisine": "Polynesian"}, {"borough": "Manhattan"}]}

# what will happen if we use $or here

for f in collection.find(filter):
    pprint(f)

{'_id': ObjectId('61b822ba72b3ff1fc97936a8'),
 'address': {'building': '2241',
             'coord': [-73.936071, 40.7955789],
             'street': '1 Avenue',
             'zipcode': '10029'},
 'borough': 'Manhattan',
 'cuisine': 'Polynesian',
 'grades': [{'date': datetime.datetime(2014, 10, 15, 0, 0),
             'grade': 'Z',
             'score': 22},
            {'date': datetime.datetime(2014, 4, 14, 0, 0),
             'grade': 'B',
             'score': 21},
            {'date': datetime.datetime(2013, 2, 21, 0, 0),
             'grade': 'A',
             'score': 13},
            {'date': datetime.datetime(2012, 9, 13, 0, 0),
             'grade': 'A',
             'score': 10},
            {'date': datetime.datetime(2012, 2, 14, 0, 0),
             'grade': 'A',
             'score': 7}],
 'name': 'Camaradas El Barrio',
 'restaurant_id': '41024174'}

#### [\$regex](https://docs.mongodb.com/manual/reference/operator/query/regex/#op._S_regex)

The `$regex` operator searches for a regular expression on a particular field.  Within the filter field, the named field (a key) takes a dict as a value.  

For example, to search for all restaurants which start with the word "Pretzel" in the title you can do the following:

In [17]:
filter = {"name": {"$regex": '^Pretzel'}}
collection.count_documents(filter)

4

There are other ways to use regular expressions in PyMongo, you can use the [`re`](https://docs.python.org/3/library/re.html) module in Python.  

You can find more description of regular expression [here](https://docs.python.org/3/howto/regex.html)

HINT: The regex character for the end of a string is `$`

#### [\$gt](https://docs.mongodb.com/manual/reference/operator/query/gt/#op._S_gt)

The `$gt` operator is a comparison between two values where one is greater than the other.  

For example, consider this code which finds restaurants which have had a score of more than 15:

In [18]:
filter = {'grades.score': {'$gt': 15}}
collection.count_documents(filter)

9162

#### [\$in](https://docs.mongodb.com/manual/reference/operator/query/in/#op._S_in)

The `$in` opreator will selects the documents where the value of a field equals any value in the specified array. 

For example, consider this code which finds restaurants which have had a score of 15, 16, 21 or 30:

In [19]:
filter = {'grades.score': {'$in': [15, 16, 21, 30]}}
collection.count_documents(filter)

2817

## Organising output

So far, we have seen the two of the arguments in the `find()` and related functions.  The `filter` which allows us to select the criteria for documents in the collection, and the `limit` to limit the amount of results.  You should read the documentation fully about the function in your own time, but for now, we will go over two other arguments which are for organising output: field selection, and sorting.

The field selection or `projection` argument is the argument after the \[optional\] filter, and is either:

* A list of fields to include (plus \_id)
* A dict of fields with True/False to include

For example, to display only the name of the restaurant:

In [20]:
filter = {'cuisine': 'Brazilian'}
fields = {'_id': False, 'name': True}
collection.find_one(filter, fields)

{'name': 'Churrascaria Plataforma'}

The sort argument is a dict object of field names as keys, and directions.  This can be done either as a named parameter when calling `find()`, or as a function in its own right [`sort()`](https://api.mongodb.com/python/current/api/pymongo/cursor.html#pymongo.cursor.Cursor.sort)

For example, to sort in alphabetical order, consider the following code:

In [21]:
import pymongo
# The ASCENDING and DESCENDING constants have values of 1 (ASCENDING) and -1 (DESCENDING)
sort = [('name', pymongo.ASCENDING)]
for d in collection.find(filter, projection=fields, sort=sort):
    pprint(d)

{'name': 'Barzinho'}
{'name': 'Beco'}
{'name': 'Beija-Flor'}
{'name': 'Berimbau'}
{'name': 'Brazil Brazil Restuarant'}
{'name': 'Brazil Grill'}
{'name': 'Buffet 58'}
{'name': 'Carioca Grill'}
{'name': 'Casa'}
{'name': 'Churrascaria Plataforma'}
{'name': 'Circus Restaurant'}
{'name': 'Copacabana Pizza & Grill'}
{'name': 'Emporium Brasil Restaurant'}
{'name': 'Esperanto'}
{'name': 'Fogo De Chao'}
{'name': 'Malagueta  Restaurant'}
{'name': 'Miss Favela'}
{'name': 'Pacificos Fine Foods'}
{'name': 'Point Brazil'}
{'name': 'Rainhas'}
{'name': 'Rice & Beans Restaurant'}
{'name': 'Sao Restaurant'}
{'name': 'Texas De Brazil Churrascaria'}
{'name': 'Via Brazil'}
{'name': 'Villa Brazil Cafe Grill'}
{'name': 'Zebu Grill'}

# MongoDB Aggregation Framework

The most common usage for the [aggregation framework](https://docs.mongodb.com/manual/aggregation/)  is to perform group operations such as sum, count or average.  The framework works as a [pipeline](https://docs.mongodb.com/manual/core/aggregation-pipeline/), with a series of different stages where the data are transformed in each one. 

<img src="https://imgs.developpaper.com/imgs/2000455658-5c49357371b47_articlex.png" title="pipeline" width="700" />

At its simplest, this can be used to obtain output like min, max, count, avg on a collection as follows:

In [22]:
group = {
    '$group': {
        '_id': None, 
        'size': {'$sum': 1},
        'min': {'$min': '$restaurant_id'},
        'max': {'$max': '$restaurant_id'}
    }
}

cursor = collection.aggregate([group])
for c in cursor:
    print(c)

{'_id': None, 'size': 25359, 'min': '30075445', 'max': '50018995'}

Note that it has an `$_id: None` key/value pair in it.  It is compulsory for a `$group` pipeline to have one, and it indicates what it is grouping by. The pipeline In this case, we haven't grouped it at all, however it can also be used for more complex output where documents are grouped according to a field.

### Aggregation example

Consider this example, of finding the breakdown of how many of each type of restaurant there is in the Bronx.  We would need to go through the following stages:

- Identify restaurants which are in the Bronx
- Group the restaurants by type to get the count
- Sort the results in a sensible way

The code to perform this query is below:

In [23]:
# Restrict the results to only establishments in the Bronx.  
# '$match' indicates the stage in the pipeline, and the dictionary is the same as using with find()
match = {
    "$match": {"borough": "Bronx"}
}

# $group indicates the stage in the pipeline
# _id is the field to perform the operation on (like SQL GROUP BY)
# count is the name of the field that the result will be in
# $sum is the counting operation, and the value 1 is how many to count x1
group = {
    '$group': {'_id': '$cuisine', 'count': {'$sum': 1}}
    
}
# $sort indicates the position in the pipeline
# count is the field to sort by, and -1 means to sort in descending order
sort = {
    '$sort': {'count': pymongo.DESCENDING}
}

# $unwind can split each value in the scatter into a separate document.
unwind = {
    '$unwind' : '$grades'
}


cursor = collection.aggregate([uwind, match, group, sort])
for c in cursor:
    print(c)

NameError: name 'uwind' is not defined

<img src="https://i.stack.imgur.com/E1Wlp.png" title="unwind" width="700" />

This is a simple query, which shows some of the basic stages of the aggregation pipeline.  It can be improved as follows:

* We can change the name of the _id in the output back to cuisine using the [$project](https://docs.mongodb.com/manual/reference/operator/aggregation/project/) stage
* We can change the order of the output to be sorted in alphabetical order as well
* We can limit the results to include results only with a count of 20 or more

Implement those stages in the cell below

In [ ]:
from bson import SON
project = {'$project': SON([
    ('Cuisine', '$_id'),
    ('count', True)
])}
project_2 = {'$project': {'_id': False, 'Cuisine': True, 'count': True}}
pipeline = [match, group, project, project_2, sort]

cursor = collection.aggregate(pipeline)
for c in cursor:
    print(c)

In [ ]:
# YOUR CODE HERE FOR sort
from bson import SON
sort = {'$sort':
        SON([
            ('count', pymongo.DESCENDING), 
            ('Cuisine', pymongo.ASCENDING)
        ])

}

pipeline.append(sort)
cursor = collection.aggregate(pipeline)
for c in cursor:
    print(c)

In [ ]:
# YOUR CODE HERE FOR `count` > 20

match_2 = {'$match': {'count': {'$gt': 20}}}
pipeline.append(match_2)

cursor = collection.aggregate(pipeline)
for c in cursor:
    print(c)

## lookup and graphLookup

[\$lookup](https://docs.mongodb.com/manual/reference/operator/aggregation/lookup/) and [\$graphlookup](https://docs.mongodb.com/manual/reference/operator/aggregation/graphLookup/) are the new operators of Aggregation in Mongodb3.2. 

`$lookup` performs a left outer join to an unsharded collection in the same database to filter in documents from the “joined” collection for processing. 

`$graphLookup` performs a recursive search on a collection, with options for restricting the search by recursion depth and query filter.

In [ ]:
# create two new collections
db.test_a.drop()
db.test_b.drop()
collection_a = db.test_a
collection_b = db.test_b
# insert some data
collection_a.insert_many([
   { "_id" : 1, "item" : "almonds", "price" : 12, "quantity" : 2 },
   { "_id" : 2, "item" : "pecans", "price" : 20, "quantity" : 1 },
   { "_id" : 3  }
])
collection_b.insert_many([
   { "_id" : 1, "sku" : "almonds", "description": "product 1", "instock" : 120 },
   { "_id" : 2, "sku" : "bread", "description": "product 2", "instock" : 80 },
   { "_id" : 3, "sku" : "cashews", "description": "product 3", "instock" : 60 },
   { "_id" : 4, "sku" : "pecans", "description": "product 4", "instock" : 70 },
   { "_id" : 5, "sku": None, "description": "Incomplete" },
   { "_id" : 6 }
])

lookup = {
    '$lookup':
       {
         'from': "test_b", 
         'localField': "item", #test_a.item
         'foreignField': "sku", #test_b.sku
         'as': "inventory_docs" #importing collection
       }
  }
cursor = collection_a.aggregate([lookup])
for c in cursor:
    pprint(c)

In [ ]:
from pprint import pprint
db.graph_a.drop()
collection = db.graph_a


mylist = [
{ "_id" : 1, "name" : "Europe" },
{ "_id" : 2, "name" : "UK", "belongsto" : "Europe" },
{ "_id" : 3, "name" : "Hampshire", "belongsto" : "UK" },
{ "_id" : 4, "name" : "Southampton", "belongsto" : "Hampshire" },
{ "_id" : 5, "name" : "Portsmouth ", "belongsto" : "Hampshire" },
{ "_id" : 6, "name" : "UoS", "belongsto" : "Southampton" }
]
collection.insert_many(mylist)
pipeline = [
    {'$graphLookup': {
          'from': "graph_a",
          'startWith': "$belongsto",
          'connectFromField': "belongsto",
          'connectToField': "name",
          'as': "belongHierarchy"
       }
    },
    {'$match': {'name' : 'UoS'}
    }]
cursor = collection.aggregate(pipeline)
for c in cursor:
    pprint(c)

## NetworkX
After finding the relationship in the data set, we can use [Networkx](https://networkx.org/) to visualize it.

In [ ]:
import networkx as nx
import matplotlib.pyplot as plt  
rs = list(collection.aggregate(pipeline))
def get_relation(rs):
    G = nx.DiGraph()
    for node in rs:
        try:
            G.add_edge(node['name'], node['belongsto'])
            for item in node['belongHierarchy']:
                if 'belongsto' in item.keys():
                    G.add_edge(item['name'], item['belongsto'])
                else:
                    pass
        except:
            pass
    return G
G = get_relation(rs)
nx.draw(G, with_labels=True, font_weight='bold')
plt.show()
print(G)